body {
    margin: 2em;
    background-color: lightskyblue;
    font-family: Helvetica, sans-serif;
    color: #393939;
}

a {
    color: #253f74;
}


h1 {
    text-align: center;
    margin: 1em;
}

h2 {
    text-align: center;
}

tr {
}

td {
    background-color: lightgray;
    border: 2px solid #253f74;
    padding: .5em;
}

div {
    /*float: left;*/
    text-align: center;
}

table {
    margin: 0 auto;
}

#container {
    display: flex;
    justify-content: space-around;
}

.graphic {
    width: 300px;
    /*height: 300px;*/
    background-color: lightgray;
    border: 2px solid #253f74;

}

.min-max {
    padding-top: 0.25em;
}

#user-input {
    width: 100%;
}